@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-4">
        <h3>О компании</h3>
        <p>
            «Водострел» – динамично развивающееся предприятие с современной
            производственной базой, соответствующей международным стандартам.
        </p>
    </div>
    <div class="col-lg-4">
        <h3>Миссия компании</h3>
        <p>
            Забота о здоровье томичей, чтобы чистая питьевая вода и лучший сервис были доступны каждому. <br />
            Накопленный опыт и постоянное стремление<br /> вперед помогают компании добросовестно выполнять все возложенные на себя обязательства.
        </p>
    </div>
    <div class="col-lg-4">
            <h3>Контроль качества</h3>
            <p>
                Стабильно высокое качество продукции и постоянная работа по улучшению сервиса – это главные приоритеты компании.
                «Водострел» является компанией-производителем и лично отвечает за качество каждой капли выпускаемой продукции.
            </p>
     </div>
</div>

