@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>


<address>
    Россия, г. Томск, ул. Ленина 1<br />
    тел: 8-800-555-35-35
</address>

<address>
    <strong>Тех. поддержка:</strong>   <a href="mailto:alen2014@gmail.com">alen2014@gmail.com</a><br />
</address>