@{
    ViewBag.Title = "Домашння страницы";
}

<div class="jumbotron">
    <h2>Доставка чистой воды по Томску!</h2>
    <p>Мы занимаемся доставкой чистой питьевой воды по Томску. Работаем на рынке около 8 лет.</p>
</div>

<div class="row">
    <div class="col-md-4">       
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>